{% extends "news/layout.html" %}

{% block body %}
	<div>
		<h1>All Users</h1>
	</div>
	
	<div>
		<h1></h1>
	</div>
	

	<div>
		<h1></h1>
	</div>
	<div>
		<body style="text-align:center">The chart shows how positive or negative all the news articles all users have read are, on average. We also show the score for key emotions which have been identified in the articles users have read.</body>
	</div>
	<div class=image>    
    	<img src="data:image/png;base64, {{ news }}" alt="Sentiment score chart">
    </div>

    <div class="row">
    	<div class="column" style="background-color:#0494EC">
    		<h4>Sadness</h4>
    		<h1 style="color: #000000">{{ sadness }}</h1>
    	</div>
		<div class="column" style="background-color:#FCE4B4">
			<h4>Joy</h4>
    		<h1 style="color: #000000">{{ joy }}</h1>
    	</div>
		<div class="column" style="background-color:#BC84DC">
			<h4>Fear</h4>
    		<h1 style="color: #000000">{{ fear }}</h1>
		</div>
		<div class="column" style="background-color:#74BB43">
			<h4>Disgust</h4>
    		<h1 style="color: #000000">{{ disgust }}</h1>
		</div>
		<div class="column" style="background-color:#B3240B">
			<h4>Anger</h4>
    		<h1 style="color: #000000">{{ anger }}</h1>
		</div>
	</div>
	<div>
		<h1></h1>
	</div>
	<div class="row1">
		
		<div class="column1" style="background-color:#FC98A5">
			<h4>Most Negative Websites</h4>
				<ol>
	    		{% for b in bottom5 %}
	    			<li><a href="{{ b.newsurl }}">{{ b.newsurl }}</a>, Sentiment Score: {{ b.senti_score }}</li>
	    		{% endfor %}
				</ol>
		</div>
		<div class="column1" style="background-color:#ACFCA4">
    		<h4>Most Positive Websites</h4>
    			<ol>
	    		{% for t in top5 %}
	    			<li><a href="{{ t.newsurl }}">{{ t.newsurl }}</a>, Sentiment Score: {{ t.senti_score }}</li>
	    		{% endfor %}
				</ol>
		</div>
	</div>
	<div>
		<h1></h1>
	</div>
	<div class="row1">
		
		<div class="column1" style="background-color:#FC98A5">
			<h4>Most Negative Subjects</h4>
				<ol>
	    		{% for b in entbot5 %}
	    			<li>{{ b.enttext }}, Sentiment Score: {{ b.entsentiscore }}</li>
	    		{% endfor %}
				</ol>
		</div>
		<div class="column1" style="background-color:#ACFCA4">
    		<h4>Most Positive Subjects</h4>
    			<ol>
	    		{% for b in enttop5 %}
	    			<li>{{ b.enttext }}, Sentiment Score: {{ b.entsentiscore }}</li>
	    		{% endfor %}
				</ol>
		</div>
	<div>
		<h1></h1>
	</div>
	
	
    <div>
    	<h1></h1>
    </div>
	<div>
		<a href="{% url 'news:index1' %}">Return to your page</a>
	</div>
    <div>
		<a href="{% url 'users:login' %}">Log Out</a>
	</div>


{% endblock %}